body, html {
  margin: 0;
  padding: 0;
  font-size: 0;
}

div {
  margin: 0;
  padding: 0;
}

.sqr {
  background: #CCCCCC;
  width: 50px;
  height: 50px;  
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

.row {
  height: 50px;
  width: 100%;
  display: block;
}

.black {
  background: #000000;
}

.red {
  background: #FF0000;
}

.brown {
  background: #8B4513;
}

.amethyst {
  background: #BA55D3;
  border-radius: 50px 50px 15px 15px;
}

#egg {
   display:block;
   width: 126px;
   height: 180px;
   background-color: #BA55D3;
   -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
}
